.card {
    border-radius: 8px;
    padding: 32px 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    place-items: center;
    font-size: 12pt;
    color: var(--app-primary-dark);
    background: var(--app-primary-light);

    min-width: 420px;
    max-width: 500px;

    flex-grow: 1;
    height: fit-content;
}


.tag-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px;
    justify-self: flex-end;
    margin-top: 24px;
    flex-wrap: wrap;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: flex-start;
}