.card {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    place-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    color: #311447;
    background: #f7f2f2;
    background: linear-gradient(180deg, rgba(247, 242, 242, 1) 31%, rgba(227, 227, 227, 1) 54%, rgba(163, 162, 163, 1) 100%);
    cursor: pointer;
    min-width: 420px;
    flex-grow: 1;
}

.card:hover {
    outline: 2px solid black;
}

.tag-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px;
}