.filter-btn {
    display: flex;
    place-items: center;
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
    background-color: var(--app-primary-light);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    color: var(--app-primary-dark);
}

.filter-btn:hover {
    background-color: var(--app-hover);
}

.year.active {
    background-color: var(--app-year-color);
    color: var(--app-primary-light);
}

.framework.active {
    background-color: var(--app-framework-color);
}

.language.active {
    background-color: var(--app-language-color);
    color: var(--app-primary-light);
}

.library.active {
    background-color: var(--app-library-color);
    color: var(--app-primary-light);

}

.workplace.active {
    background-color: var(--app-workplace-color);
}

.motivation.active {
    background-color: var(--app-motivation-color);
    color: var(--app-primary-light);
}