.tag {
    font-size: 12px;
    border-radius: 9px;
    padding: 4px 8px;
    color: var(--app-primary-dark);
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.year {
    background-color: var(--app-year-color);
    color: var(--app-primary-light);
}

.framework {
    background-color: var(--app-framework-color);

}

.language {
    background-color: var(--app-language-color);
    color: white;
}

.library {
    background-color: var(--app-library-color);
}

.workplace {
    background-color: var(--app-workplace-color);
}

.motivation {
    background-color: var(--app-motivation-color);
    color: var(--app-primary-light);
}

.featured {
    background-color: var(--app-featured-color);
}

.close-btn.hidden {
    display: none;
}

.close-btn {
    cursor: pointer;
}