#root {
  max-width: 2024px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  position: relative;
  align-self: flex-start;

}

body {
  --app-primary-dark: #311447;
  --app-primary-light: #fff;
  --app-hover: #af8db8;
  --app-workplace-color: #66cdaa;
  --app-language-color: #ff8c00;
  --app-framework-color: #00ff00;
  --app-year-color: #0000ff;
  --app-library-color: #1e90ff;
  --app-motivation-color: #ff1493;
  --app-featured-color: #ffdab9;

  background: var(--app-primary-dark);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: var(--app-primary-light);
  color: var(--app-primary-dark);
  border: 1px solid var(--app-primary-dark);
  font-size: 12px;
}

button:hover {
  outline: 1px solid blue;
}

#card-container {
  columns: 620px;
  margin: auto;
  max-width: 90vw;
  position: relative;
}

.card {
  margin-bottom: 1em;
}

h2 {
  color: var(--app-primary-light);
  margin-bottom: 24px;
}

.hidden {
  display: none;
}

.not-found {
  color: var(--app-primary-light);
}



@media screen and (min-width: 528px) {
  #root {
    padding-top: 0;
  }
}